*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* General styles */
html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth; }

p {
  font-size: 1.5rem; }

body {
  background: #e7e7e7;
  margin: 0;
  width: 152rem;
  margin: 0 auto; }

h1,
h2 {
  color: #e7e7e7;
  line-height: 4rem; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

a {
  cursor: pointer; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.lazy-img {
  filter: blur(1px); }

.button, .button:link, .button:visited {
  padding: 1rem 3rem;
  border: none;
  background-color: #0080ff;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 300ms; }

.button:not(:last-child) {
  margin-right: 3rem; }

.button--header:hover {
  background-color: #236097; }

.button--header:active, .button--header:focus {
  transition: all 100ms;
  transform: translateY(0.2rem); }

.button--fb {
  transition: all 200ms; }
  .button--fb:hover {
    transform: scale(1.1); }
  .button--fb:active, .button--fb:focus {
    transform: none; }

.button--navigation:hover {
  border-bottom: 0.5rem solid #fff; }

.button--navigation:active, .button--navigation:focus {
  transition: all 100ms;
  border-bottom: 0.25rem solid #fff; }

.button--intro {
  position: absolute;
  font-size: 1.2rem;
  font-weight: normal;
  left: 15%;
  padding-right: 1rem; }
  .button--intro::after {
    content: "";
    clip-path: polygon(0 100%, 0 0, 60% 50%);
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    margin-left: 2rem; }
  .button--intro:hover {
    background-color: #236097; }
  .button--intro:active, .button--intro:focus {
    transition: all 100ms;
    transform: translateX(0.3rem); }

/**************************/
/* HEADER */
/**************************/
.header {
  height: 10rem;
  width: 100%;
  background-color: #fff;
  margin: 0;
  align-items: center;
  justify-content: space-between !important;
  transition: all 0.2s; }
  .header--container {
    margin-right: 7vw; }
  .header--logo {
    height: 7rem;
    margin-left: 5vw; }
    .header--logo__fb {
      margin-left: 1rem;
      width: 5rem; }

.navigation {
  width: 100%;
  height: 8rem;
  background-color: #0080ff; }
  .navigation--box {
    height: inherit;
    justify-content: space-around;
    margin: 0 10vw; }

.container {
  width: 100%; }

.carousel {
  height: 60rem;
  position: relative;
  overflow: hidden; }
  .carousel--image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .carousel--slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 350ms; }
    .carousel--slider section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      position: relative; }
  .carousel--textbox__1 {
    left: 17%;
    position: absolute;
    background-color: #2361977e;
    border-radius: 2rem;
    box-shadow: 0 0 5rem 5rem #2361977e; }
    .carousel--textbox__1 h1 {
      margin: -3rem 0 0 15rem;
      padding: 0; }
    .carousel--textbox__1 h2 {
      margin: 0.4rem 0 0 15rem; }
  .carousel--textbox__2 {
    right: 17%;
    position: absolute;
    background-color: #2361977e;
    border-radius: 2rem;
    box-shadow: 0 0 5rem 5rem #2361977e; }
    .carousel--textbox__2 h1 {
      margin: -1.7rem 0 0 0;
      padding: 0; }
    .carousel--textbox__2 h2 {
      margin: 0.4rem 0 0 0rem; }
  .carousel--textbox__3 {
    position: absolute;
    left: 37%;
    top: 14%;
    background-color: #2361977e;
    border-radius: 2rem;
    box-shadow: 0 0 5rem 5rem #2361977e; }
    .carousel--textbox__3 h1 {
      margin: -3rem 0 0 7rem;
      padding: 0; }
    .carousel--textbox__3 h2 {
      margin: 0.4rem 0 0 7rem; }

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem; }
  .arrows {
    cursor: pointer; }
  .arrow--left {
    left: 8%;
    background-color: #236097;
    clip-path: polygon(100% 100%, 100% 0, 40% 50%); }
    .arrow--left__background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8%;
      height: 8rem;
      width: 8rem;
      background-color: #ffffff5d;
      border-radius: 7rem; }
  .arrow--right {
    right: 8%;
    background-color: #236097;
    clip-path: polygon(0 100%, 0 0, 60% 50%); }
    .arrow--right__background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8%;
      height: 8rem;
      width: 8rem;
      background-color: #ffffff5d;
      border-radius: 7rem; }

.ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #ffffff5d;
  border-radius: 5rem; }
  .ul--li {
    width: 2.2rem;
    height: 2.2rem;
    border: 0.3rem solid #236097;
    border-radius: 5rem;
    margin: 1rem 1.2rem;
    background: #236097;
    cursor: pointer; }
  .ul .selected {
    background: #fff; }

.intro {
  width: 100%;
  height: 55rem;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.76)), url("/img/background1-lazy.jpg");
  background-size: cover; }
  .intro--video {
    position: relative;
    width: 50%;
    height: 100%; }
    .intro--video__container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 2.5rem;
      width: 65rem;
      margin-left: auto; }
    .intro--video__content {
      position: absolute;
      width: 100%;
      height: 100%; }
  .intro--textbox {
    position: relative;
    width: 50%;
    height: max-content;
    text-align: center; }
    .intro--textbox__heading {
      width: 28rem;
      transform: translateX(-11rem) translateY(2.5rem); }
      .intro--textbox__heading-sub {
        vertical-align: middle;
        color: #236097;
        font-size: 4rem;
        transform: translateX(5rem);
        margin-bottom: 2rem; }
    .intro--textbox__text {
      margin: 0 auto 1rem auto;
      width: 70%;
      text-align: start; }
      .intro--textbox__text-sub {
        margin: 0 auto 2.4rem auto;
        width: 70%;
        text-align: start;
        font-weight: 700; }
