*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

p {
  font-size: $fs-body;
}

body {
  background: rgb(224, 224, 224);
  margin: 0;
  width: 152rem;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

.flex {
  @include flex-center;
}
