.button {
  height: 3.5rem;
  padding: 0 3rem;
  border-radius: 0;
  border: none;
  background-color: $color-primary;
  color: $color-white;
  //   font-family: inherit;
  font-weight: 700;

  &:hover {
    transition: all 350ms;
    border-bottom: 0.5rem solid $color-white;
  }
}

button:not(:last-child) {
  margin-right: 3rem;
}
