.button {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0;
  border: none;
  background-color: #0080ff;
  color: #f6f7f8;
  //   font-family: inherit;
  font-weight: 700;
}

button {
  margin-right: 2rem;
}

button + button {
  margin-right: 0;
}
