.button {
  &,
  &:link,
  &:visited {
    padding: 1rem 3rem;
    border: none;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 300ms;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  // HEADER BUTTONS////////////////////////////////////

  &--header {
    &:hover {
      background-color: $color-primary_dark;
    }

    &:active,
    &:focus {
      transition: all 100ms;
      transform: translateY(0.2rem);
    }
  }

  &--fb {
    transition: all 200ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active,
    &:focus {
      transform: none;
    }
  }

  // NAVIGATION BUTTONS////////////////////////////////

  &--navigation {
    &:hover {
      border-bottom: 0.5rem solid $color-white;
    }

    &:active,
    &:focus {
      transition: all 100ms;
      border-bottom: 0.25rem solid $color-white;
    }
  }

  // INTRO BUTTON//////////////////////////////////////

  &--intro {
    position: absolute;
    font-size: 1.2rem;
    font-weight: normal;
    left: 15%;
    padding-right: 1rem;

    &::after {
      content: "";
      clip-path: polygon(0 100%, 0 0, 60% 50%);
      height: 1.5rem;
      width: 1.5rem;
      background-color: $color-white;
      margin-left: 2rem;
    }

    &:hover {
      background-color: $color-primary_dark;
    }

    &:active,
    &:focus {
      transition: all 100ms;
      transform: translateX(0.3rem);
    }
  }
}
