*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background: $color-gray;
  margin: 0;
  width: 152rem;
  margin: 0 auto;
}

main {
  background-color: $color-white;
  margin-bottom: 60rem;
}

p {
  font-size: $fs-body;
  color: $color-primary_dark;
}

h1,
h2 {
  color: $color-gray;
  line-height: 4rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

a {
  cursor: pointer;
}

.flex {
  @include flex-center;
}

.lazy-img {
  filter: blur(4px);
}
