// GENERAL ///////////////////////////////////////

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin image-correct {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// ARROW BACKDROUND ////////////////////////////

@mixin background-transparent($side) {
  @include center-vertical();
  #{$side}: 8%;
  height: 8rem;
  width: 8rem;
  background-color: $color-white_transparent;
  border-radius: 7rem;
}
