@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 1950px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 2100px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 2250px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 3600px) {
  html {
    font-size: 120%;
  }
}
@media (max-width: 1650px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1350px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 30%;
  }
}
