// GENERAL ///////////////////////////////////////

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin image-correct {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// ARROW BACKGROUND ////////////////////////////

@mixin background-transparent($side) {
  @include center-vertical();
  #{$side}: 8%;
  height: 8rem;
  width: 8rem;
  background-color: $color-white_transparent;
  border-radius: 7rem;
}

// SLIDE TEXT BOX  ////////////////////////////

@mixin textbox-composition($side, $percentage) {
  #{$side}: #{$percentage};
  position: absolute;
  background-color: $color-primary_dark-transparent;
  border-radius: 2rem;
  box-shadow: 0 0 5rem 5rem $color-primary_dark-transparent;
  z-index: 9999;
}

//FOOTER LINKS ////////////////////////////

@mixin svg-hover_blue {
  &:hover {
    transition: all 150ms;
    filter: $svg-blue;
  }
}

@mixin text-hover_blue {
  &:hover {
    transition: all 150ms;
    color: $color-primary;
  }
}
