$color-primary: #0080ff;
$color-primary-transparent: #0080ff62;
$color-primary_dark: #236097;
$color-primary_dark-transparent: #2361977e;
$color-primary_dark-transparent--med: #236197cc;
$color-primary_dark-transparent--light: #d1dce6;

// #0080ff
// #236097

$color-white: #fff;
$color-white_transparent: #ffffff5d;

$color-gray: #e7e7e7;
$color-gray_dark: #777;
$color-gray_dark-2: #666;
$color-gray_dark-3: #333;

$color-accepted: lightgreen;
$color-rejected: red;

$svg-blue: invert(32%) sepia(40%) saturate(4926%) hue-rotate(198deg)
  brightness(105%) contrast(103%);
$svg-blue_dark: invert(28%) sepia(72%) saturate(936%) hue-rotate(176deg)
  brightness(94%) contrast(84%);
$svg-white: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg)
  brightness(110%) contrast(110%);

$fw-reg: 300;
$fw-med: 600;
$fw-bold: 900;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1.5rem;

$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
