.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 2rem;
    font-family: inherit;
    color: $color-white;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-primary_dark-transparent;
    border: none;
    border-bottom: 3px solid transparent;
    width: 87.7%;
    display: block;
    transition: all 0.3s;

    &__message {
      height: 20rem;
      padding: 1.5rem 2rem 15rem 2rem;
      overflow: hidden;
      resize: none;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 3px solid $color-accepted;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-rejected;
    }

    &::-webkit-input-placeholder {
      color: $color-white;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
