.footer {
  @include center-horizontal;
  height: 56rem;
  width: 100vw;
  background-color: $color-primary_dark;

  &--grid {
    display: grid;
    width: 152rem;
    margin: 0 auto;
    padding-top: 4rem;
    grid-template-rows: 44.5rem 0.5rem 7rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &--left {
    grid-column: 1/2;
    grid-row: 1/2;

    &__logo {
      width: 25rem;
      margin-top: 1rem;
      filter: $svg-white;

      @include svg-hover_blue;
    }

    &__links {
      display: flex;
      gap: 3rem;
      flex-direction: column;
      margin: 4.5rem 0 0 0.5rem;

      & a {
        display: flex;
        align-items: center;
        gap: 2rem;

        & img {
          width: 10rem;
          filter: $svg-white;
          border-radius: 2.5rem;
          @include svg-hover_blue;
        }

        & p {
          color: $color-white;
          font-size: 3.5rem;
          @include text-hover_blue;
        }
      }
    }
  }
  &--middle {
    grid-column: 2/3;
    grid-row: 1/2;

    & h3 {
      margin-top: 0.6rem;
      font-size: 4rem;
      color: white;
      font-weight: $fw-med;

      & strong {
        font-weight: $fw-bold;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      & a {
        margin-top: 2rem;
        color: $color-white;
        font-size: 3rem;
        @include text-hover_blue;
      }
    }
  }

  &--right {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: $color-white;

    &__container {
      display: flex;
      flex-direction: column;
      place-items: center;
      & img {
        margin-top: 2.5rem;
        width: 35rem;
      }
    }
  }
  &--divider {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: $color-white;
  }
  &--bottom {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: end;
    align-self: center;

    & p {
      color: $color-white;
      font-size: 2.5rem;
      padding-right: 2rem;
    }
  }
}
