/* OPERATIONS */
.overview {
  position: relative;
  max-width: 108rem;
  margin-left: 11rem;
  margin-top: 5rem;
  height: 50rem;
  background-color: $color-primary_dark;

  &::before {
    content: '';
    position: absolute;
    background-color: inherit;
    height: inherit;
    bottom: 0;
    width: 50vw;
    left: -50vw;
  }

  &--header {
    padding-top: 4rem;
    position: relative;
    font-weight: 600;
    width: max-content;

    &::after {
      content: '';
      @include center-horizontal;
      bottom: -1.5rem;
      left: 50%;
      right: 0;
      width: 45rem;
      height: 0.5rem;
      background-color: $color-white;
    }

    & strong {
      font-weight: 900;
    }
    &__sub {
      font-size: 3.5rem;
      font-weight: 500;
      align-self: start;
      margin-bottom: 2rem;
    }
  }

  &--content p {
    color: inherit;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &--tab {
    &__container {
      display: flex;
      justify-content: start;
      margin-left: 1rem;
      background-color: transparent;
      height: 11rem;
      margin-bottom: 2rem;
    }

    position: relative;
    height: 9rem;
    width: 9rem;
    border-radius: 5rem;
    margin-top: 5rem;
    border: 0.4rem solid white;
    background-color: $color-primary_dark;

    &:hover {
      background-color: $color-primary;
    }

    &:not(:last-child) {
      margin-right: 8rem;
    }

    &__active {
      &::after {
        content: '';
        position: absolute;
        bottom: -2rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0.1rem;

        border-left: 1.2rem solid transparent;
        border-right: 1.2rem solid transparent;
        border-top: 1.8rem solid #fff;
      }
    }
  }

  &--content {
    transition: all 300ms;
    display: none;
    font-size: 1.7rem;
    padding: 7rem 0rem 6.5rem 0rem;
    width: 77rem;
    color: $color-white;

    &__image {
      position: absolute;
      right: -20rem;
      top: 5rem;
      width: 40rem;
      height: 40rem;
      object-fit: cover;
      box-shadow: $box-shadow;
    }

    &__active {
      display: flex;
    }
  }
}
